<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardMapper">

	<update id="modifyBoard"
			parameterType="com.example.board.vo.BoardModify">

		UPDATE board
		SET board_title = #{boardTitle},
			board_Content = #{boardContent}
		WHERE board_no = #{boardNo}
		AND board_pw = #{boardPw}
	</update>
	
	<delete id="deleteBoard" parameterType="com.example.board.vo.Board">
        DELETE FROM board 
        WHERE board_no = #{boardNo} 
        AND board_pw = #{boardPw}
    </delete>

	<insert id="insertBoard"
			parameterType="com.example.board.vo.Board">
		<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
			SELECT LAST_INSERT_ID()
			
		</selectKey>
		INSERT INTO board(
			board_pw,
			board_title,
			board_content,
			board_user,
			board_date
		) VALUES (
			#{boardPw},
			#{boardTitle},
			#{boardContent},
			#{boardUser},
			NOW()
		)
	</insert>

	<select id="selectBoardOne"
			resultType="com.example.board.vo.Board"
			parameterType="int">
		SELECT
			board_no as boardNo,
			board_title as boardTitle,
			board_content as boardContent,
			board_user as boardUser,
			board_date as boardDate
		FROM board
		WHERE board_no = #{boardNo}
	</select>

	<select id="selectBoardCount" 
			resultType="int"
			parameterType="java.lang.String">
		SELECT COUNT(*) 
		FROM board
		<where>
			<if test="searchWord != null">
				board_title like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<select id="selectBoardList"
			resultType="com.example.board.vo.Board"
			parameterType="com.example.board.vo.Page">
		SELECT
			board_no as boardNo,
			board_title as boardTitle,
			board_user as boardUser,
			board_date as boardDate
		FROM board
		<where>
			<if test="searchWord != null">
				board_title like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		ORDER BY board_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

</mapper>